header {
    display: flex;
    flex-direction: row;
    height: 90px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #FF0000;
}

.menu {
    display: flex;
}

ul {
    display: flex;
}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    padding: 15px;
    color: #FFF;
    font-weight: bold;
}